<div class="login">
    <h1>Login</h1>
    <form [formGroup]="loginForm">
        <label>UserId</label>
        <input formControlName="username" type="text" placeholder="Enter your EmailID" />
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="error">
            <div *ngIf="loginForm.get('username')?.errors?.['email']">
                Enter a valid Email Address
            </div>
            <div *ngIf="loginForm.get('username')?.errors?.['required']">
                Please enter the Email
            </div>
        </div>

        <label>Password</label>
        <input formControlName="password" type="password" placeholder="Enter your password" />
        <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched" class="error">
            Please Enter your EmailID
        </div>

        <button id="logbut" class="btn btn-primary" type="submit" (click)="onLogin()">Login</button>
    </form>
</div>

